.cardsItem {
    display: flex;
    padding: 10px;
    margin: 0 auto;
  }
  .card {
    box-shadow: 3px 3px 1px 1px rgba(26, 19, 19, 0.418);
    overflow: hidden;
    max-height: 300px;
    max-width: 300px;
    margin: 0 auto;
  }

  .nombre {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
  }
  .precio {
    font-size: 3rem;
    font-weight: bold;
    align-items: center;
    line-height: 1rem;
    min-width: 5px;
  }
  .pclass {
    font-size: 1.3rem;
    font-weight: bold;
    align-items: center;
    line-height: 1rem;
    min-width: 5px;
  }

  .nadamostrar {
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
    grid-column: 2/2;
    align-items: center;
  }